@-moz-document
regexp("(http|https)://(www|appdb|wiki|bugs|forum).winehq.org.*") /*Global*/
{
  body
  {
    color: #FAFAFA !important;
  }
  
  A
  {
    color: #EB1D1D !important;
  }
  
  .white
  {
    background: #0A0A0A !important;
  }
  
  .grey
  {
    background: #131313 !important;
  }
  
  td[class^="pct"]
  {
    color: #0A0A0A !important;
    padding-left: 5px !important;
  }
  
  #tabs A, #whq-tabs LI A, #winehq_tabs A
  {
    color: #FAFAFA !important;
  }
  
  #tabs ul, #winehq_tabs ul
  {
    background: #0A0A0A !important;
  }
  
  #sidebar A, #winehq_sb A
  {
    color: #FAFAFA !important;
  }
  
  .portlet > .pBody > ul > li > a
  {
    color: #FAFAFA !important;
  }
  
  .form-control, #search_box > form > input
  {
    background: #3C3C3C !important;
    color: #FAFAFA !important;
  }
  
  .input-group-addon
  {
    background: #1C1C1C !important;
    color: #FAFAFA !important;
  }
  
  .suggestions-result
  {
    background: #1C1C1C !important;
    color: #CCCCCC !important;
  }
  
  .suggestions-result:hover
  {
    background: #161616 !important;
    color: #FAFAFA !important;
  }
  
  .suggestions-special
  {
    background: #131313 !important;
  }
  
  .suggestions-special .special-label
  {
    color: #CCCCCC !important;
  }
  
  .suggestions-special .special-label:hover
  {
    color: #FAFAFA !important;
  }
  
  .suggestions-special .special-query
  {
    color: #FAFAFA !important;
  }
  
  #gsc-i-id1
  {
    background: #3C3C3C !important;
    color: #FAFAFA !important;
  }
  
  .gsc-result-info
  {
    color: #CCCCCC !important;
  }
}

@-moz-document
regexp("(http|https)://www.winehq.org.(pipermail).*")
{
  body
  {
    background: #1C1C1C !important;
  }
}

@-moz-document
regexp("(http|https)://www.winehq.org.*")
{
  .whq-page-container
  {
    background: #1C1C1C !important;
  }
  
  P
  {
    color: #CCCCCC !important;
  }
  
  .row
  {
    color: #FAFAFA !important;
  }
  
  .subtitle
  {
    color: #CCCCCC !important;
  }
  
  P.newstitle A
  {
    color: #FAFAFA !important;
  }
  
  P.newsdate
  {
    color: #CCCCCC !important;
  }
  
  ol, ul
  {
    color: #FAFAFA !important;
  }
  
  h1, h2, h3, h4, h5, h6
  {
    color: #FAFAFA !important;
  }
  
  .winehq_menu > .winehq_menu_item > .title
  {
    color: #EB1D1D !important;
  }
  
  pre
  {
    color: #FAFAFA !important;
  }
  
  .btn-default
  {
    background: #131313 !important;
  }
  
  .btn-default:hover
  {
    background: #161616 !important;
  }
  
  div.whq-info-box
  {
    background: #161616 !important;
    color: #FAFAFA !important;
  }
  
  .gsc-control-cse
  {
    background: #1C1C1C !important;
    border: none !important;
  }
  
  .gsc-webResult.gsc-result, .gsc-imageResult
  {
    background: #161616 !important;
    border: solid black 1px !important;
    border-left: solid white 2px !important;
  }
  
  .gsc-webResult.gsc-result:hover, .gsc-imageResult:hover
  {
    background: #131313 !important;
  }
  
  .gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType
  {
    color: #CCCCCC !important;
  }
  
  .gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl
  {
    color: #FAFAFA !important;
  }
  
  .gs-webResult.gs-result a.gs-title:hover
  {
    color: #FF6666 !important;
  }
  
  .gsc-results .gsc-cursor-box .gsc-cursor-page
  {
    background: transparent !important;
  }
  
  .gsc-results .gsc-cursor-box .gsc-cursor-current-page
  {
    background: #131313 !important;
    border: solid black 1px !important;
  }
}

@-moz-document
regexp("(http|https)://wiki.winehq.org.*")
{
  .mw-body
  {
    background: #1C1C1C !important;
    color: #FAFAFA !important;
  }
  
  p
  {
    color: #FAFAFA !important;
  }
  
  .mw-redirectedfrom
  {
    color: #CCCCCC !important;
  }
  
  #toc, .toc
  {
    background: #131313 !important;
  }
  
  h1, h2, h3, h4, h5, h6
  {
    color: #FAFAFA !important;
  }
  
  legend
  {
    color: #FAFAFA !important;
  }
  
  pre
  {
    background: #131313 !important;
    color: #FAFAFA !important;
  }
  
  table.wikitable > tr > th, table.wikitable > tr > td, table.wikitable > * > tr > th, table.wikitable > * > tr > td
  {
    background: #161616 !important;
    color: #FAFAFA !important;
  }
  
  div.noarticletext
  {
    background: #131313 !important;
  }
  
  #pagehistory li.selected
  {
    background: #131313 !important;
  }
  
  .autocomment
  {
    color: #999999 !important;
  }
  
  #p-cactions li
  {
    background: #1C1C1C !important;
  }
  
  #p-cactions li a
  {
    background: #131313 !important;
    color: #FAFAFA !important;
  }
  
  #p-cactions .new a
  {
    color: #EB1D1D !important;
  }
  
  #p-cactions li a:hover
  {
    background: #222222 !important;
    color: #FAFAFA !important;
  }
  
  #p-cactions li.selected a
  {
    background: #222222 !important;
    color: #FAFAFA !important;
  }
  
  .catlinks
  {
    background: #131313 !important;
  }
}

@-moz-document
regexp("(http|https)://(appdb|bugs).winehq.org.*")
{
  .white, .html_frame
  {
    background: #131313 !important;
  }
  
  .color0
  {
    background: #3C3C3C !important;
  }
  
  .color1
  {
    background: #2C2C2C !important;
  }
  
  font[color="#777777"], div[class^="col-xs"] > font > span
  {
    color: #FAFAFA !important;
  }
  
  .bz_comment_text span.quote
  {
    color: #89CD24 !important;
  }
  
  h1.whq-app-title, h2.whq-app-title
  {
    color: #EB1D1D !important;
    border-color: #EB1D1D !important;
  }
  
  .whq-table.whq-table-full > thead > tr > td > a
  {
    color: #FAFAFA !important;
  }
  
  .bz_alias_short_desc_container
  {
    background: #161616 !important;
    border: solid black 1px !important;
  }
  
  #a0 > th, .bz_attach_footer
  {
    background: #161616 !important;
    color: #FAFAFA !important;
    border: solid black 1px !important;
  }
  
  .bz_first_comment_head, .bz_comment_head
  {
    background: #131313 !important;
    border: solid black 1px !important;
  }
  
  .content, #whq-page-body, .whq-breadcrumb
  {
    background: #1C1C1C !important;
  }
  
  table.whq-table tbody tr:nth-child(2n+1) td
  {
    background: #131313 !important;
  }
  
  table.whq-table tbody tr td
  {
    background: #1C1C1C !important;
  }
  
  .bz_buglist > tbody tr
  {
    background: #3C3C3C !important;
    color: #FAFAFA !important;
  }
  
  .bz_buglist > tbody tr:nth-child(2n+1)
  {
    background: #2C2C2C !important;
  }
  
  .bz_buglist > tbody tr:nth-child(1)
  {
    background: #131313 !important;
  }
  
  .bz_sort_order_primary
  {
    color: #FAFAFA !important;
  }
  
  .cursor-pointer > td
  {
    background: #0A0A0A !important;
  }
  
  .panel-default
  {
    background: #0A0A0A !important;
  }
  
  .panel-heading
  {
    background: #161616 !important;
    color: #FAFAFA !important;
  }
  
  .text-muted
  {
    color: #CCCCCC !important;
  }
  
  .rtop, .rbottom /*This cannot be recolored*/
  {
    display: none !important;
  }
  
  .panel-body
  {
    background: #0A0A0A !important;
  }
  
  .panel-body > p > span, .panel-body > span
  {
    background: #131313 !important;
  }
  
  #footer
  {
    background: #161616 !important;
  }
  
  .panel-footer
  {
    background: #161616 !important;
  }
  
  .btn-default
  {
    background: linear-gradient(#3C3C3C, #2E2E2E) !important;
    color: #FAFAFA !important;
    border: none !important;
    margin-top: 1px !important;
  }
  
  .btn-default:hover
  {
    background: linear-gradient(#4C4C4C, #3E3E3E) !important;
  }
  
  .quote_registry
  {
    background: #0B3311 !important;
  }
  
  .quote_terminal
  {
    background: #5E0000 !important;
  }
  
  .code
  {
    background: #3C3C3C !important;
  }
  
  /* Default Rank Colors:
  Platinum: #ECECEC
  Gold: #FFF600
  Silver: #C0C0C0
  Bronze: #FCBA0A
  Garbage: #999966
  */
  
  .rating_title > a
  {
    text-shadow: -1px 0 #2C2C2C, 0 1px #2C2C2C, 1px 0 #2C2C2C, 0 -1px #2C2C2C;
  }
  
  .Platinum
  {
    color: #ECECEC !important;
  }
  
  tr:nth-child(2n) td.Platinum
  {
    background: #1C1C1C !important;
  }
  
  div.topx_style.platinum
  {
    background: linear-gradient(#ECECEC, #161616 4%) !important;
  }
  
  .Gold
  {
    color: #FFF600 !important;
  }
  
  tr:nth-child(2n) td.Gold
  {
    background: #1C1C1C !important;
  }
  
  div.topx_style.gold
  {
   background: linear-gradient(#FFF600, #161616 4%) !important;
  }
  
  .Silver
  {
    color: #C0C0C0 !important;
  }
  
  tr:nth-child(2n) td.Silver
  {
    background: #1C1C1C !important;
  }

  div.topx_style.silver
  {
    background: linear-gradient(#C0C0C0, #161616 4%) !important;
  }
  
  .Bronze
  {
    color: #FCBA0A !important;
  }
  
  tr:nth-child(2n) td.Bronze
  {
    background: #1C1C1C !important;
  }
  
  .Garbage
  {
    color: #999966 !important;
  }
  
  tr:nth-child(2n) td.Garbage
  {
    background: #1C1C1C !important;
  }
}

@-moz-document
regexp("(http|https)://forum.winehq.org.*")
{
  /*Currently unsupported*/
 
  /*background: linear-gradient(#3C3C3C, #2E2E2E) !important;*/
  
  #winehq_body
  {
    background: #1C1C1C !important;
  }
  
  .bc-header, .bc-links
  {
    background: #131313 !important;
  }
  
  .tablebg
  {
    background: #131313 !important;
  }
  
  .row1
  {
    background: #131313 !important;
  }
  
  .cat-bottom
  {
    filter: invert(100%);
  }
  
  .row-post-top
  {
    background: #2C2C2C !important;
  }
  
  .row-post-body
  {
    background: #3C3C3C !important;
  }
  
  .row-post-bottom
  {
    background: #161616 !important;
  }
  
  .spacer
  {
    background: #880000 !important;
  }
  
  .postauthor
  {
    color: #FAFAfA !important;
  }
  
  .postauthor[style="color:#660000"]
  {
    color: #EB1D1D !important
  }
  
  .postdetails
  {
    color: #FAFAFA !important;
  }
  
  .quotecontent
  {
    background: #1C1C1C !important;
  }
}

@-moz-document
regexp("(http|https)://(www.|)wine-staging.com.*")
{
  body
  {
    background: #1C1C1C !important;
    color: #FAFAFA !important;
  }
  
  #content
  {
    background: #1C1C1C !important;
  }
  
  #logo h1 a
  {
    color: #FAFAFA !important;
  }
  
  #footer p
  {
    color: #CCCCCC !important;
  }
  
  #footer a
  {
    color: #EB1D1D !important;
  }
  
  #menu a
  {
    color: #FAFAFA !important;
  }
  
  .post .title a
  {
    color: #FF3000 !important;
  }
}