@-moz-document regexp("(http|https)://genius.com/.*") {
body
{
  background: #141414 !important;
  color: #EEEEEE !important;
  font-size: 15px;
  min-height: 100vh;
}

input
{
  background: #3C3C3C !important;
  color: #FAFAFA !important;
}

input::placeholder
{
  color: #FAFAFA !important;
}

form[class^="StickyNavSearchdesktop__Form"]
{
    background: #3C3C3C !important;
}

div[class^="LeaderboardOrMarquee__Sticky"]
{
    display: none;
}

span[class^="ReferentFragment__Highlight"]
{
    
}

div[class^="HeaderTracklist__Album"], div[class^="HeaderTracklist__ViewAlbum"]
{
   color: #FAFAFA !important;
   stroke: #FAFAFA !important;
}

.eZruqd
{
    background: #2C2C2C;
    color: #FAFAFA !important;
}

div[class^="LyricsHeader__Container"] span, div[class^="LyricsHeader__Container"] h2
{
    color: #FAFAFA !important;
}

div[class^="LyricsHeader__Container"] span, div[class^="LyricsHeader__Container"] svg
{
    fill: #FAFAFA !important;
}

div[class^="BaseAnnotation__InnerContainer"], div[class^="Annotation__Container"]
{
    background: #1C1C1C !important;
    color: #FAFAFA !important;
}

button[class^="BaseAnnotationdesktop__Control"]
{
    stroke: #FAFAFA !important;
    border-color: #FAFAFA !important;
}

button[class^="BaseAnnotationdesktop__Control"]:hover
{
    background-color: #2C2C2C !important;
}

div[class^="BaseAnnotationdesktop__AdLeaderboard"]
{
    background: #1C1C1C !important;
}

div[class^="Attribution__Header"]
{
    color: #FAFAFA !important;
}

div[class^="Annotation__Container"] a
{
    color: #CCC !important;   
}

div[class^="AnnotationActions__Container"] span
{
    color: #FAFAFA !important;
}

div[class^="AnnotationActions__Container"] svg
{
    fill: #FAFAFA !important;
}

div[class^="Annotation__Container"] button[class^="Button__Container"]
{
    background-color: #2C2C2C !important;
    color: #CCC !important;
    border: none;
}

div[class^="Annotation__Container"] button[class^="Button__Container"]:hover
{
    background-color: #3C3C3C !important;
    color: #FAFAFA !important;
}

div[class^="UnreviewedAnnotation__Unreviewed"]
{
    background: #131313 !important;
}

div[class^="SongComments__CommentContainer"]
{
    border-color: #CCC !important;
}

div[class^="VotingActions__Container"] svg
{
    fill: #FAFAFA;
}

div[class^="SongComments"]
{
    color: #FAFAFA;
}

div[class^="SongComments"] > button
{
    color: #FAFAFA;
    border-color: #FAFAFA;
}

div[class^="SongComments"] > button:hover
{
    background-color: #2C2C2C !important;
}

div[class^="InnerSectionDivider"]
{
    border-color: #CCC !important;
}

div[class^="StubhubLink__Container"] *
{
    color: #FAFAFA !important;
}

div[class^="StubhubLink__Container"] svg > path
{
    fill: #FAFAFA !important;
}

aside[class^="RecommendedSongs__Container"]
{
    border: none;
}

aside[class^="RecommendedSongs__Container"] > div[class^="RecommendedSongs__Header"]
{
    background-color: #2C2C2C;
    border-bottom: solid 1px #ccc;
}

aside[class^="RecommendedSongs__Container"] > div[class^="RecommendedSongs__Body"] > a[class^="RecommendedSong__Container"]
{
    background-color: #2C2C2C;
    color: #FAFAFA !important;
}

aside[class^="RecommendedSongs__Container"] > div[class^="RecommendedSongs__Body"] > a[class^="RecommendedSong__Container"]:hover
{
    background-color: #3C3C3C;
}

div[class^="ShareButtons__Container"] button > div, div[class^="ShareButtons__Container"] div[class^="Button__Container"]
{
    color: #FAFAFA !important;
    border-color: #FAFAFA !important;
}

div[class^="ShareButtons__Container"] button > div:hover, div[class^="ShareButtons__Container"] div[class^="Button__Container"]:hover
{
    background-color: #2C2C2C !important;
}

div[class^="ShareButtons__Container"] span
{
    color: #FAFAFA !important;
}

div[class^="ShareButtons__Container"] svg
{
    fill: #FAFAFA !important;
}

.global_search-search_icon
{
  fill: #FAFAFA !important;
}

.full_width_button
{
  background: #1C1C1C !important;
  color: #FAFAFA !important;
}

.full_width_button:hover
{
  background: #161616 !important;
  color: #FAFAFA !important;
}

.mini_card-info
{
  background: #333333 !important;
}

.u-top_margin
{
  color: #FAFAFA !important;
}

.feed_dropdown--darker_background
{
  background: #0A0A0A !important;
}

.mini_card-lyric_excerpt
{
  color: #CCCCCC !important;
}

.mini_card-lyric_excerpt span
{
  color: #FAFAFA !important;
}

.u-white_background
{
  background: #141414 !important;
}

.square_button
{
  background: #0A0A0A !important;
}

.global_home_page-load_more
{
  background: #333333 !important;
  color: #EEEEEE !important;
}

.horizontal_section--white_background
{
  background: #141414 !important;
}

.articles
{
  background: #141414 !important;
}

.home_featured_latest_story
{
  color: #EEEEEE !important;
}

.feed_dropdown-header
{
  background: #141414 !important;
}

.feed_dropdown-item--link
{
  background: #333333 !important;
  color: #EEEEEE !important;
}

.feed_dropdown-item--link:hover
{
  background: #99a7ee !important;
  color: #EEEEEE !important;
}

artist-metadata-questions a.full_width_link
{
    background: #2C2C2C !important;
    color: #FAFAFA !important;
}

.white_container
{
  background: #141414 !important;
}

.statistics_panel
{
  background: #141414 !important;
}

.feed_dropdown-item
{
  background: #333333 !important;
  color: #EEEEEE !important;
}

.feed_dropdown-item:hover
{
  background: #2C2C2C !important;
}

.home_charts_song:hover
{
  background: #333333 !important;
}

.home_charts_song--big .home_charts_song-number_container-number
{
  border-color: #EEEEEE !important;
}

.inline_icon
{
  fill: #EEEEEE !important;
}

.home_charts_show_more > svg > g
{
  filter: invert(100%);
}

.home_charts_song--big_border
{
  border-color: #EEEEEE !important;
}

.chart_row:hover
{
  background: #181818 !important;
}

.text_label--button.text_label--button
{
  color: #EEEEEE !important;
}

.recirculated_content-title
{
  color: #EEEEEE !important;
}

.song_info--table .song_info-info
{
  color: #EEEEEE !important;
}

.vertical_selector-option--selected
{
  background: #0A0A0A !important;
}

.vertical_selector-option:hover
{
  background: #181818 !important;
}

.mini_card
{
  background: #333 !important;
}

.vertical_album_card:hover
{
  background: transparent !important;
}

vertical-album-card h3
{
  color: #FAFAFA !important;
}

.act-show.cont-home
{
  background: #141414 !important;
}

.article_header
{
  background-color: #141414 !important;
}

.article_header-headline
{
  color: #EEEEEE !important;
}

.article_header-sub_headline, .track_listing a
{
  color: #EEEEEE !important;
}

.track_listing-track--current, .track_listing-track--current > span
{
  color: #FFFF64 !important;
}

.track_listing-track_number
{
  color: #999;
}

.text_label--button
{
  border-color: #EEEEEE !important;
}

div[class="song_body"], .song_body
{
  background: #141414 !important;
}

.song_media_controls-playpause .media_control-button circle
{
  fill: #0A0A0A !important;
}

.mini_user_card
{
  background: #161616 !important;
}

.mini_user_card-summary
{
  color: #FAFAFA !important;
}

.song_album a
{
  color: #CCCCCC !important;
}

.song_album a:hover
{
  color: #FAFAFA !important;
}

.lyrics img, .lyrics p
{
  color: #CCCCCC !important;
}

.referent
{
  background: #353535 !important;
  color: #EEEEEE !important;
  box-shadow: none !important;
}

.referent--highlighted
{
  background: #FFC31C !important;
  color: #000000 !important;
}

.referent--green
{
  background: #13AD27 !important;
  color: #000000 !important;
}

.referent--green.referent--highlighted
{
  background: #18E233 !important;
  color: #000000 !important;
}

.square_button
{
  color: #EEEEEE !important;
  border-color: #EEEEEE !important;
}

.windows .gray_container, .annotation_sidebar_unit
{
  background: #202020 !important;
}

.user_tooltip
{
  background: #0A0A0A !important;
}

.primary_album a
{
  color: #FAFAFA !important;
}

.metadata_unit-info
{
  color: #CCC !important;
}

.metadata_unit-icon, .metadata_with_icon-icon
{
  fill: #FAFAFA !important;
}

.metadata_with_icon--hot .metadata_with_icon-icon
{
  fill: #ff1464 !important;
}

.square_input
{
  background: #333333 !important;
  color: #CCCCCC !important;
}

.song_page_grid-column_span--primary
{
  background: #141414 !important;
  border-left: solid #333333 1px;
  border-right: solid #626262 1px;
}

.song_page_grid-column_span--secondary
{
  background: #141414 !important;
}

.lyrics_controls
{
  background: #141414 !important;
}

.modal_window-content
{
  background: #161616 !important;
}

.tags_input .tag-item
{
  background: #131313 !important;
}

.song_media_controls-controls--docked
{
  background: #333333 !important;
  border: solid black 1px !important;
}

.videos--bordered
{
  background: #0A0A0A !important;
  border-color: #0A0A0A !important;
}

.bordered_media_container
{
  background: none !important;
  border: none !important;
}

.tooltip
{
  background: #2C2C2C !important;
  border: none !important;
  box-shadow: none !important;
}

.tooltip .user_badge
{
  color: #FAFAFA !important;
}

main[class^="questionAnswerPage__MainContent"] div[class^="Question__Attribution"]
{
    color: #FAFAFA !important;
}

main[class^="questionAnswerPage__MainContent"] div[class^="Answerdesktop"] span[class^="LabelWithIcon__Container"]
{
    color: #FAFAFA !important;
}

main[class^="questionAnswerPage__MainContent"] div[class^="Answerdesktop"] span[class^="LabelWithIcon__Container"] svg
{
    fill: #FAFAFA !important;
}

main[class^="questionAnswerPage__MainContent"] a
{
    color: #CCC !important;
}

main[class^="questionAnswerPage__MainContent"] div[class^="Contributors__Container"]
{
    color: #FAFAFA !important;
}

main[class^="questionAnswerPage__MainContent"] div[class^="Contributors__Container"] > svg
{
    fill: #FAFAFA !important;
    stroke: #CCC !important;
}

div[class^="ShareButtons__Icon"], div[class^="ShareButtons__Icon"] span[class^="LabelWithIcon__Label"]
{
   color: #FAFAFA !important;
   border-color: #2C2C2C !important;
}

div[class^="ShareButtons__Icon"]:hover
{
    background-color: #2C2C2C !important;
}

div[class^="ShareButtons__Icon"] svg
{
    fill: #FAFAFA !important;
}

/*Apple Music Player*/
body[ng-app="genius.apple_music_player"]
{
    background: unset !important;   
}

.apple_music_player_container--border, .apple_music_player-container--border
{
background: #2C2C2C !important;
border: none !important;
box-shadow: none !important;
}

.apple_music_player-seekbar::before
{
background: #FAFAFA !important;
}

.apple_music_player-seekbar-scrubber-circle
{
background: #FAFAFA !important;
}

play-button > div > g-svg > svg
{
fill: #FAFAFA !important;
}

.apple_music_player-player-logo > g-svg > svg
{
fill: #FFF !important;
}
}