@-moz-document
regexp("(https|http)://(www.|)phoronix.com.(?!forums).*")
{
  body
  {
    
  }
  
  #content-bg
  {
    background: #0A0A0A !important;
  }
  
  #content
  {
    background: #1C1C1C !important;
  }
  
  #main
  {
    background: #1C1C1C !important;
  }
  
  p
  {
    color: #FAFAFA !important;
  }
  
  article
  {
    color: #FAFAFA !important;
  }
  
  article .details, article .details a
  {
    color: #CCCCCC !important;
  }
  
  strong
  {
    color: #FAFAFA !important;
  }
  
  #sidebar aside header, .article-box header, #about-author header, .wide-article-box header
  {
    color: #FAFAFA !important;
  }
  
  a[class="revinfsn-title"], span[class="revinfsn-desc-text"]
  {
    color: #FAFAFA !important;
  }
  
  a[class="revinfsn-credit"]
  {
    color: #CCCCCC !important;
  }
  
  #ad
  {
    background-color: #1C1C1C !important;
  }
  
  #sidebar aside
  {
    color: #CCCCCC !important;
  }
  
  h1, h2, h3, h4, h5, h6
  {
    color: #FAFAFA !important;
  }
  
  #categories-content
  {
    background: #131313 !important;
  }
  
  #categories-content a
  {
    color: #FAFAFA !important;
  }
  
  article.full .author
  {
    color: #CCCCCC !important;
  }
  
  #sharebar
  {
    background: #161616 !important;
  }
}

@-moz-document
regexp("(https|http)://www.phoronix.com/forums.*")
{
  body, ul[class="conversation-list list-container h-clearfix   thread-view"]
  {
    background: #0A0A0A !important;
  }
  
  label
  {
    color: #CCCCCC !important;
  }
  
  h1, h2, h3, h4, h5, h6
  {
    color: #FAFAFA !important;
  }
  
  #main-navbar, #main-navbar-wrapper
  {
    background: #222222 !important;
  }
  
  .conversation-toolbar-wrapper .conversation-toolbar, .forum-list-container .forum-list-header
  {
    background: #222222 !important;
  }
  
  .view-mode .widget-tabs .widget-tabs-nav
  {
    background: #131313 !important;
  }
  
  .widget-tabs .widget-tabs-nav .ui-tabs-nav
  {
    background: #131313 !important;
  }
  
  .conversation-content-widget .ui-tabs-nav li a:hover
  {
    color: #FAFAFA !important;
  }
  
  .widget-tabs .widget-tabs-nav li.ui-tabs-active a
  {
    background: #222222 !important;
    color: #FAFAFA !important;
  }
  
  .b_menu__dropdownbutton
  {
    color: #CCCCCC !important;
  }
  
  .b_menu__dropdownbutton:hover
  {
    color: #FAFAFA !important;
  }
  
  .notice
  {
    background: #161616 !important;
    color: #FAFAFA !important;
    border: solid white 1px !important;
    margin-right: -335px !important;
    margin-left: 335px !important;
  }
  
  #breadcrumbs .crumb-link
  {
    color: #CCCCCC !important;
  }
  
  .view-mode .widget-no-border > .widget-header
  {
    background: #1C1C1C !important;
    color: #FAFAFA !important;
    border: solid black 1px !important;
  }
  
  .page-title-widget .module-title, .page-title-widget .module-title h1
  {
    color: #FAFAFA !important;
  }
  
  .b-post__body
  {
    background: #1C1C1C !important;
  }
  
  .widget-content, .post-content
  {
    color: #FAFAFA !important;
  }
  
  .b-post__count, .b-post__timestamp
  {
    color: #CCCCCC !important;
  }
  
  .b-userinfo
  {
    color: #FAFAFA !important;
  }
  
  #footer-vb-copyright, #footer-user-copyright, #footer-current-datetime
  {
    color: #CCCCCC !important;
  }
  
  .bbcode_container .bbcode_quote
  {
    background: #161616 !important;
  }
  
  .l-row
  {
    background: #131313 !important;
  }
  
  .pagenav, .h-left
  {
    color: #FAFAFA !important;
  }
  
  .conversation-toolbar-wrapper .conversation-toolbar input[type="text"]
  {
    color: #FAFAFA !important;
  }
  
  .vb-icon-arrow-left, .vb-icon-arrow-right, .vb-icon-triangle-down-wide, .vb-icon-triangle-up-wide
  {
    filter: invert(75%);
  }
  
  .conversation-toolbar-wrapper .toolbar-filter-overlay, .toolbar-wrapper .toolbar-filter-overlay
  {
    background: #161616 !important;
    border: solid black 1px !important;
  }
  
  .conversation-toolbar-wrapper .toolbar-filter-overlay .filter-options label > input + span, .toolbar-wrapper .toolbar-filter-overlay .filter-options label > input + span, .conversation-toolbar-wrapper .toolbar-filter-overlay .filter-header, .toolbar-wrapper .toolbar-filter-overlay .filter-header
  {
    color: #FAFAFA !important;
  }
  
  .conversation-toolbar-wrapper .conversation-toolbar .toolbar-filter .filter-wrapper.selected
  {
    background: #222222 !important;
  }
  
  #idLoginForm .tr .td, #idLoginForm .primary-controls
  {
    color: #FAFAFA !important;
  }
  
  body #idLoginForm .login-fieldset input, input[type="text"], input[type="password"]
  {
    background: #2C2C2C !important;
    color: #FAFAFA !important;
  }
  
  body #idLoginForm .login-fieldset input:focus, input[type="text"]:focus, input[type="password"]:focus
  {
    border: solid #4D90FE 1px !important;
  }
  
  .canvas-layout-container .canvas-widget
  {
    background: #131313 !important;
  }
  
  .form-fieldset .form_row .field_column .field-desc, .birth-date-wrapper .field-desc, .faqSearchFields .field-desc
  {
    color: #CCCCCC !important;
  }
  
  .b-tabbed-pane__pane.b-tabbed-pane__pane--selected
  {
    background: #131313 !important;
  }
  
  #main-navbar ul li a
  {
    color: #FAFAFA !important;
  }
  
  #main-navbar ul li a:hover
  {
    color: #CCCCCC !important;
  }
  
  .b-toolbar
  {
    background: #131313 !important;
  }
  
  .cke_editable.cke_editable_themed.cke_contents_ltr.cke_show_borders.js-vbulletin-has-placeholder-events
  {
    background: #1C1C1C !important;
    color: #FAFAFA !important;
  }
  
  .b-editor .cke_resizer
  {
    background-color: #131313 !important;
  }
  
  .private-message-widget .main-pane .main-pane-header
  {
    background: #1C1C1C !important;
  }
  
  .private-message-widget .main-pane .message-list .message-item.message-unread, .private-message-widget .last-msg-unread
  {
    background: #161616 !important;
  }
  
  .message
  {
    background: #161616 !important;
  }
  
  .message-empty
  {
    background: #161616 !important;
  }
  
  .private-message-widget .folder-link, .private-message-widget .inbox
  {
    background: #131313 !important;
    color: #FAFAFA !important;
  }
  
  .private-message-widget .folder-link:hover
  {
    background: #1C1C1C !important;
  }
  
  .compose-btn-container, #pmSearch
  {
    background: #131313 !important;
  }
  
  #pmSearchText
  {
    width: 145px !important;
  }
  
  .post-date
  {
    color: #CCCCCC !important;
  }
  
  .folder-item .count, .profile-sidebar-widget .profile-menulist .profile-menulist-item > a > .subscriptions-count, .profile-sidebar-widget .profile-menulist .profile-menulist-item .subscriptions-count
  {
    background: #2C2C2C !important;
    color: #FAFAFA !important;
    border: solid black 1px !important;
  }
  
  .private-message-widget .split-button .split-button-wrapper
  {
    background: linear-gradient(#99D5E9, #48A6C4) !important;
    height: 25px !important;
  }
  
  .private-message-widget .split-button .split-button-wrapper .submenu
  {
    background: #131313 !important;
    color: #FAFAFA !important;
  }
  
  #privateMessageContainer
  {
    background: #131313 !important;
  }
  
  .autocomplete-container.entry-field
  {
    background: #1C1C1C !important;
  }
  
  .autocomplete-box .autocomplete .element-text
  {
    color: #FAFAFA !important;
  }
  
  .selectBox-options li a, .selectBox-dropdown .selectBox-label, .selectBox-dropdown
  {
    background: #1C1C1C !important;
    color: #FAFAFA !important;
  }
  
  .selectBox-options li.selectBox-selected a, .selectBox-options li.selectBox-hover a
  {
    background: #131313 !important;
    color: #FAFAFA !important;
  }
  
  .selectBox-dropdown .selectBox-arrow, .search-result-header .PopupControl
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
  
  .dialog-container.ui-dialog, .dialog-container.ui-dialog .ui-dialog-titlebar
  {
    background: #161616 !important;
    color: #FAFAFA !important;
  }
  
  .b-memberlist__letterfilter label
  {
    background: #1C1C1C !important;
  }
  
  .b-memberlist__letterfilter .letter:hover, .b-memberlist__letterfilter .letter.selected
  {
    background: #21A88A !important;
  }
  
  .search-result-header .search-stats
  {
    color: #CCCCCC !important;
  }
  
  .topic-list-container .topic-list-header, .search-result-header .PopupContent
  {
    background: #131313 !important;
  }
  
  .header-topic
  {
    color: #FAFAFA !important;
  }
  
  .tag-editor-container .tag-cloud-text
  {
    color: #FAFAFA !important;
  }
  
  .search-result-header .resultPopupControl
  {
    background: #2C2C2C !important;
    color: #FAFAFA !important;
  }
  
  .b-post-control__label
  {
    color: #FAFAFA !important;
  }
  
  .profile_sidebar_content
  {
    background: #131313 !important;
  }
  
  #profileTabs.profileTabs .conversation-list.stream-view .list-item, #profileTabs.profileTabs .post-content
  {
    background: #1C1C1C !important;
  }
  
  #breadcrumbs .crumb
  {
    color: #FAFAFA !important;
  }
  
  .forum-list-container
  {
    background: #131313 !important;
  }
  
  .forum-list-container .category-header td
  {
    background: #1C1C1C !important;
  }
  
  .forum-list-container .forum-list-header .header-forum span, .forum-list-container .forum-list-header .header-topics, .forum-list-container .forum-list-header .header-posts, .forum-list-container .forum-list-header .header-lastpost
  {
    color: #FAFAFA !important;
  }
  
  .forum-list-container .category-header .category
  {
    color: #3e783b !important;
  }
  
  .forum-list-container .category-header .category:hover
  {
    color: #0a8ab3 !important;
  }
  
  .topic-list
  {
    background: #131313 !important;
  }
  
  .ui-tabs .ui-tabs-panel
  {
    background: #161616 !important;
  }
  
  .list-footer
  {
    background: #1C1C1C !important;
  }
  
  .widget-header.widget-tabs-nav.h-clearfix, body.view-mode .canvas-layout-container .canvas-widget.widget-no-border.widget-tabs > .widget-header.widget-tabs-nav .module-title
  {
    background: #1C1C1C !important;
  }
  
  .activity-stream-widget .ui-tabs-nav li a:hover
  {
    color: #FAFAFA !important;
  }
  
  body:not(.l-small) .canvas-widget:not(.page-title-widget) .widget-header
  {
    background: #1C1C1C !important;
  }
  
  .b-post-sm__date
  {
    color: #CCCCCC !important;
  }
}

@-moz-document
regexp("(https|http)://openbenchmarking.org/embed.php.*")
{
  rect[fill="#FEFEFE"]
  {
    fill: #131313 !important;
  }
  
  g[fill="#231f20"] > text
  {
    fill: #FAFAFA !important;
  }
  
  g[fill="#949494"]
  {
    fill: #2C2C2C !important;
  }
  
  g[stroke="#005a00"]
  {
    stroke: #2C2C2C !important;
  }
  
  text[fill="#065695"]
  {
    font-weight: bold !important;
    fill: #CCCCCC !important;
  }
  g[fill="#065695"] > text
  {
    font-weight: bold !important;
    fill: #CCCCCC !important;
  }
  g[fill="#065695"] > a
  {
    font-weight: bold !important;
    fill: #CCCCCC !important;
  }
}